.class1
{
border-bottom-style:dashed;
border-top:solid;
border-left:double;
border-right-style:ridge;

border-bottom-color:green;
border-top-color:yellow;
border-left-color:blue;
border-right-color:red;

border-bottom-width:10px;
border-top-width:15px;
border-left-width:30x;
border-right-width:20px;
}


.class2
{
border-style:dashed;
border-color:green;
border-spacing:10px 20px;
border-width:5px;
padding:10px;
}

.class3
{
border-style:groove;
border-color:red;
border-width:10px;
}

.class4{
border-collapse:collapse;
caption-side:bottom;
}

.class5{border-collapse:seperate;}



