.wedding
{
border-style:solid;
text-transform:none;
margin:50px;
background-color:#FFC0CB;
}

.CONFERENCE
{
border-style:solid;
text-transform:uppercase;
margin:50px;
background-color:00BFFF;
}

.birthdayparty
{
border-style:solid;
margin:50px;
text-transform:lowercase;
background-color:#C0C0C0;
}


.liveshows
{
border-style:solid;
text-transform:capitalize;
margin:50px;
background-color:#FFDAB9;
}

.photography
{
border-style:solid;
margin:50px;
text-transform:inherit;
background-color:#FFFF00;
}

