h1
{
text-transform:uppercase;
text-align:center;
}

table
{
width: 600px;
height: 300px;
background-color:pink;
}

div
{

}

.div1
{
margin-left:100px;
background-color:#ffe6cc;
}

.div2
{
margin-right:50px;
background-color:#ffffb3;
}

.div3
{
margin-top:50px;
background-color:white;
}

.div4
{
margin-bottom:100px;
background-color:#b3d9ff;
}



