p{
color:blue;
}


.myclass
{border-bottom-style:dashed;
border-top-style:dashed;
border-left-style:dashed;
border-right-style:dashed;

border-bottom-width:20px;
border-top-width:20px;
border-right-width:20px;
border-left-width:20px;


border-top-color:red;
border-bottom-color:yellow;

}


.class1
{
border-bottom-style:solid;
border-top-style:solid;
border-left-style:solid;
border-right-style:solid;

border-left-color:red;
border-right-color:red;

border-width:50px;

}


.class2
{
border-bottom-style:double;
border-top-style:double;
border-left-style:double;
border-right-style:double;

border-left-width:50px;
border-right-width:50px;
border-top-width:30px;
border-bottom-width:30px;

}

.class3
{
border-bottom-style:ridge;
border-top-style:ridge;
border-left-style:ridge;
border-right-style:ridge;

border-width:45px;
}

.class4{
border-color:red;
caption-side:top;
border-style:dashed;
border-width:20px;
border-spacing:10px 20px;
}

.class5
{
border-color:yellow;
}

.class6
{
border-color:green;
}

.class7
{
border-color:blue
}
